::ng-deep .cdk-global-scrollblock {
     position: static;
     overflow: hidden !important;
 }

::ng-deep .nb-theme-default ng2-smart-table tbody tr.selected, .nb-theme-default 
ng2-smart-table tbody tr:hover { background: rgb(34, 151, 190) !important; border:1px solid blue;} 

::ng-deep .nb-theme-cosmic ng2-smart-table tbody tr.selected, .nb-theme-cosmic 
ng2-smart-table tbody tr:hover { background: rgb(34, 151, 190) !important; border:1px solid blue;} 

::ng-deep .nb-theme-dark ng2-smart-table tbody tr.selected, .nb-theme-dark 
ng2-smart-table tbody tr:hover { background: rgb(34, 151, 190) !important; border:1px solid blue;} 

::ng-deep .nb-theme-corporate ng2-smart-table tbody tr.selected, .nb-theme-corporate 
ng2-smart-table tbody tr:hover { background: rgb(34, 151, 190) !important; border:1px solid blue;} 
