.headerCont{
     font-size: 100%;
     font-family: Open Sans, sans-serif;
}
.tag{
     color: red;
     padding: 10px;
     font-weight: bold;
}
.row-A{
     align-items: center;
     display: flex;
}