@import "../shared/styles.scss";

.input-frame{
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.small-text{
     padding-right: 10px;
}

.input-wrapper{
    padding-top: 15px;
}