<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Monitor de congelación</nb-card-header>
        <nb-card-body class="nb-Body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
                
                <tbody>
                  <tr>
                    <th>Fecha desde ultima congelación</th>
                    <td class="text-nowrap" >{{ LastDefDate }}</td>
                  </tr>
                  <tr>  
                    <th>Días desde ultima congelación</th>
                    <td class="text-nowrap" >{{ sinceDefrost }}</td>
                  </tr>
                  <tr> 
                    <th>Recomendación</th>
                    <td class="text-nowrap" >{{ statement }}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>
