.calendars{
     display: flex;
}

.limit-inputs-wrap{
     padding-bottom: 15px;
     padding-left: 5%;
    }
   
    .input-time-container{
     display: flex;
    }
   
    .input-time-row{
      padding-right: 10px;
    }

    .customA-cont{
     display: flex;
     align-items: center;
}