<div class="row">
     <div class="col-lg-6">
       <nb-card>
          <nb-card-header>Comportamiento compresor de enfriamiento</nb-card-header>
          <nb-card-body class="nb-Body">

               <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        
                        <tbody>
                          <tr>
                            <th>Fecha n</th>
                            <td class="text-nowrap" >{{ LastDefDate }}</td>
                          </tr>
                          <tr>  
                            <th>comportamiento</th>
                            <td class="text-nowrap" >{{ sinceDefrost }}</td>
                          </tr>
                          <tr> 
                            <th>Falla futura</th>
                            <td class="text-nowrap" >{{ statement }}</td>
                          </tr>
                          <tr> 
                              <th>razón de cambio</th>
                              <td class="text-nowrap" >{{ statement }}</td>
                         </tr>
                         <tr> 
                              <th>variación estandar</th>
                              <td class="text-nowrap" >{{ statement }}</td>
                         </tr>
                         <tr> 
                              <th>dispersión</th>
                              <td class="text-nowrap" >{{ statement }}</td>
                         </tr>
                        </tbody>
                    </table>
                  </div>
          </nb-card-body>
        </nb-card>
     </div>
</div>